.current-task {
    background-color: none;
    width: 80%;
    padding: 10px;
    margin: 30px auto;
}
.task-card-header {
    font-size: 35px;
    font-weight: 600;
}
.current-task-title {
    font-size: 35px;
    font-weight: 700;
    color: var(--black);
}
.completion {
    text-decoration: underline solid;
}
.edit-task-form {
    background-color: var(--white);
    opacity: .9;
    width: 80%;
    margin: 15px auto;
}
.edit-task-text {
    font-size: 30px;
    margin: 15px;
}
.task-list-items {
    list-style: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
}
.task-mutation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto;
}
.save-edits-btn {
    margin: 20px 0;
}
