.budget {
    background-color: transparent;
    margin: 15px;
}
.back-to-trip-details {
    background-color: var(--white);
    color: var(--black);
    border: solid 1px var(--black);
  }
  .back-to-trip-details:hover {
    background-color: var(--greyDark);
  }
.current-expenses {
    text-align: center;
}
#current-sum {
    text-align: center;
    margin-top: 20px;
}

