:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
  
    --greyDark: rgb(173, 173, 173);
    --greyLight: rgb(226, 226, 226);
  
    --accent1a: #c82d49d5;
    --accent1b: #812637;
  
    --accent2a: #165d7a;
    --accent2b: #1a95c7;
  
    --contrast2: #edb918;
    --contrast1: #ff4b9f;
  }

  #root {
    background-image: url(https://cdn.shopify.com/s/files/1/0043/8471/8938/products/154516875564915737.jpg?v=1555128185);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #whole {
    display: flex;
    justify-content: center;
  }

  