:root {
	--white: #ffffff;
	--black: #000000;

	--greyDark: rgb(173, 173, 173);
	--greyLight: rgb(226, 226, 226);

	--accent1a: #c82d49d5;
	--accent1b: #812637;

	--accent2a: #165d7a;
	--accent2b: #1a95c7;

	--contrast2: #edb918;
	--contrast1: #ff4b9f;
}
