.d-board{
display:flex;
justify-content: center;
align-items:flex-start;
}



.Table{
background-color:var(--white);
margin-top:50px;
opacity:.9;
padding: 20px;
}


.all-trips-button{
margin:15px;
}
.add-trip-button{
margin:15px;
}

.Title{
    background-color:var(--white);
    opacity: .9;
    padding: 15px;
    border-radius: 10px;
    border-style:solid;
    width: 300px;
    margin-top:10px;
}