.d-board {
    display: flex
}
.dash-title{
    background-color: var(--white);
    text-align: center;
    opacity: .9;
    padding: 20px;
    /* border-radius: 10px; */
    border-style: solid;
    width: fit-content;  
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.recent-trips{
background-color: var(--white);
padding: 30px;
/* border-radius: 10px; */
border-style: solid;
border-color: var(--black);
opacity: .9;
margin: 0 20px 10px 20px;
width: fit-content;
}
.recent-trips-title {
   justify-content: auto;
}

.recent-trips-table-header {
    text-align: center;
    font-size: 20px;
}
.all-trips-button{
margin: 15px;
}
.add-trip-button{
margin: 15px;
}

