
.body{
margin:400px;
margin-right: 30px;

}
.card{
    background-color: var(--white);
    opacity: 0.9;
    display:flex;
    flex-wrap:wrap;
    padding:30px;
}

.login{
background-color:var(--white);
opacity: 0.9;
}