.login{
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.95;
    margin: auto;
    margin-top: 30px;
    padding: 40px;
    width: 60%;
    }

.login-main-text {
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.login-card{
    background-color: var(--white);
    opacity: 0.9;
    border-radius: 5px;
    align-content: center;
}
.login-form-input {
    padding: 10px;
    display: block;
    margin:10px;
}
.login-btn {
margin-left: 10px
}


