#all-trips-whole {
    background-color: transparent;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#all-trips-whole h1 {
    background-color: var(--white);
    padding: 15px;
    border: solid var(--black);
    border-radius: 10px;
    margin: 0 0 40px;
}
.all-trips {
    background-color: var(--white);
    opacity: 0.9;
    border-radius: 10px;
    border-style: solid;
    width: fit-content;
}

.list-of-trips {
    font-size: 25px;
    list-style-type: none
}
.trip {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px var(--black);
}
.view-details {
    margin-left: 40px;
}

.button{
    border-radius: 15px;
    align-items: center;
}
