.single-task{
  display:inline-block;
  width: 600px;
margin-left: 400px;
margin-top: 200px;
margin-bottom: 250px;
border-style:solid;
border-radius: 10px;
}
.details {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: black;

}
.header{
  font-size: 2rem;
}

