
.full{
  display:flex;
  background-color: transparent;
  

}
.all-tasks-table{
  margin-left:10px;
  border-style:solid;
  border-radius: 10px;
  background-color: var(--white);
  opacity: .9;
}
.all-tasks-title {
  background-color: var(--white);
  text-align: center;
  opacity: .9;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  width: fit-content;  
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.page h1 {
  color: aliceblue;
}

.add-task{
  background-color: var(--white);
  opacity: 0.9;
  border-radius: 10px;
  border-style:solid;
  margin: 50px;
  margin-top: 140px;
  padding: 30px;
  height: 80%;
  
}
.task-buttons-mutations {
 display: flex; 
 align-items: flex-end;
 border-bottom: none;
 margin-top: 8px;
}

.task-btn {
  margin: 10px;

}

