.task{
  background-color: transparent;
  margin: 15px;
}
#back-to-trip-details {
  background-color: var(--white);
  color: var(--black);
  border: solid 1px var(--black);
}
#back-to-trip-details:hover {
  background-color: var(--greyDark);
}

.all-tasks-title {
  background-color: var(--white);
  text-align: center;
  margin: 0 auto 40px;
  opacity: .9;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: solid var(--black);
}
.task-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.current-tasks {
  border: solid 2px var(--black);
  border-radius: 10px;
  background-color: var(--white);
  opacity: .9;
}
.all-tasks-table{
  text-align: center;
}

.task-mutations {
 display: flex; 
 align-items: flex-end;
 border-bottom: none;
 margin-top: 8px;
}
.add-task{
  background-color: var(--white);
  opacity: 0.9;
  border-radius: 10px;
  border: solid 2px var(--black);
  padding: 30px;
  max-width: 40%;
}
.add-task #checkbox {
margin: 20px 0;
}
.task-btn {
  margin: 10px;
}

